---
---

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/site.css">
	<title>Cakeopolis</title>
</head>
<body>
	<header>
		{% include header.html %}
	</header>
	<div class="content">
		<div class="logo">
			<img src="imgs/page-logo.png"/>
			<a href="mailto:cakeopolislondon@gmail.com">
				<img src="imgs/contact-details.png" alt="contact us at cakeopolislondon@gmail.com"/>
			</a>
			<div class="social-links">
				<a href="https://www.facebook.com/Cakeopolislondon">
					<img src="imgs/logo-facebook.png"/>
				</a>
				<a href="https://twitter.com/cakeopolis">
					<img src="imgs/logo-twitter.png"/>
				</a>
				<a href="http://instagram.com/cakeopolislondon">
					<img src="imgs/logo-instagram.png"/>
				</a>
			</div>
		</div>
	</div>
	<footer>
		{% include footer.html %}
	</footer>
</body>
</html>